{% extends 'base.html' %}
{% load static %}

{% block title %}Abonnements - LITRevu{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/follow.css' %}">
{% endblock %}

{% block content %}
<div class="follow-page">

    <!-- Section : Suivre un utilisateur -->
    <section class="follow">
        <h2>Suivre un utilisateur</h2>
        
            <input type="text" name="name" placeholder="Nom d'utilisateur">
   
        <div class="follow-search">
            <div class="grid-section message" id="follow_searchGrid">
                <p>Commencez à taper pour chercher un utilisateur.</p>
                <!-- injection via javescript-->
            </div>
        </div>
    </section>

    <!-- Section : Abonnements -->
    <section class="followed">
        <h2>Abonnements</h2>
        <div class="grid-section" id="followGrid">
            {% for followed_user in followed_users %}
            <div class="item-grid">
                <div class="card">
                    <div class="card-front">
                        {% if followed_user.profile.image %}
                        <img src="{{ followed_user.profile.image.url }}" alt="{{ followed_user.username }}">
                        {% else %}
                        <img src="{% static 'pictures/default_pictures/default.png' %}" alt="{{ followed_user.username }}">
                        {% endif %}
                        <span>{{ followed_user.username }}</span>
                        <button type="button" class="front-btn unsub">Désabonner</button>
                    </div>
                    <div class="card-back">
                        <p>Confirmer le désabonnement ?</p>
                        <form method="post" action="{% url 'reviews:unfollow_user' followed_user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="confirm-btn">Confirmer</button>
                            <button type="button" class="cancel-btn">Annuler</button>
                        </form>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Vous ne suivez encore personne.</p>
            {% endfor %}
        </div>

        {% if followed_users|length > 10 %}
        <div class="see-more-container">
            <button class="see-more-btn">Voir plus</button>
        </div>
        {% endif %}
    </section>

    <!-- Section : Abonnés -->
    <section class="following">
        <h2>Abonnés</h2>
        <div class="grid-section" id="followerGrid">
            {% for follower in followers %}
            <div class="item-grid">
                <div class="card">
                    <div class="card-front">
                        {% if follower.profile.image %}
                        <img src="{{ follower.profile.image.url }}" alt="{{ follower.username }}">
                        {% else %}
                        <img src="{% static 'pictures/default_pictures/default.png' %}" alt="{{ follower.username }}">
                        {% endif %}
                        <span>{{ follower.username }}</span>
                        <form method="post" action="{% url 'reviews:blocked_user' follower.id %}">
                            {% csrf_token %}
                            <button type="submit" class="confirm-btn">Bloquer</button>
                        </form>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Aucun abonné pour le moment.</p>
            {% endfor %}
        </div>

        {% if followers|length > 10 %}
        <div class="see-more-container">
            <button class="see-more-btn">Voir plus</button>
        </div>
        {% endif %}
    </section>

    <!-- Utilisateur bloqué -->
    <section class="bloqued">
        <h2>Bloqué</h2>
        <div class="grid-section" id="blockedGrid">
            {% for user in blocked_users %}
            <div class="item-grid">
                <div class="card">
                    <div class="card-front">
                        {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" alt="{{ user.username }}">
                        {% else %}
                        <img src="{% static 'pictures/default_pictures/default.png' %}" alt="{{ user.username }}">
                        {% endif %}
                        <span>{{ user.username }}</span>
                        <form method="post" action="{% url 'reviews:unblocked_user' user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="confirm-btn">Débloquer</button>
                        </form>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Aucun utilisateur bloqué pour le moment.</p>
            {% endfor %}
        </div>

        {% if blocked_users|length > 1 %}
        <div class="see-more-container">
            <button class="see-more-btn">Voir plus</button>
        </div>
        {% endif %}
    </section>
</div>
<script src="{% static 'reviews/js/follow.js' %}"></script>

{% endblock %}
