{% extends 'base.html' %}
{% load static %}

{% block title %}Posts - LITRevu{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/posts.css' %}">
{% endblock %}

{% block content %}
    <div class="posts">    
        {% for post in posts %}
            <div class="post-container">
                {% if post.content_type == 'ticket' %}
                        <div class="post-header">
                            <h5>Vous avez publié un ticket.</h5>
                            <small> {{ post.time_created|date:"d/m/Y à H:i" }}</small>
                        </div>

                        <div class="post-content ticket">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="Couverture {{ post.title }}">
                            {% else %}
                                <img src="https://picsum.photos/seed/{{ post.id }}/600/400" alt="Couverture {{ post.title }}">
                            {% endif %}
                            <div>
                                <h4>{{ post.title}}</h4>
                                <p>{{ post.description }}</p>
                                <div class="lien">
                                    <a href="{% url 'reviews:ticket_modify' post.id %}">Modifier</a>
                                    <a href="{% url 'reviews:ticket_delete' post.id %}">Supprimer</a>
                                </div>
                            </div>
                        </div>
                {% endif %}

                {% if post.content_type == 'review' %}
                    <div class="post-header">
                        <h5>Vous avez publié une critique.</h5>
                        <small> {{ post.time_created|date:"d/m/Y à H:i" }}</small>
                    </div>
                    <div class="post-content">
                        <h5>{{ post.headline }}
                            <span>
                                {% for i in "12345" %}
                                    {% if forloop.counter <= post.rating %}★{% else %}☆{% endif %}
                                {% endfor %}
                            </span>
                        </h5>
                        {% if post.body %}
                            <p>{{ post.body }}</p>
                        {% endif %}
                    </div>
                    <div class="content-related ticket">
                        {% if post.ticket.image %}
                            <img src="{{ post.ticket.image.url }}" alt="Couverture {{ post.ticket.title }}">
                        {% else %}
                            <img src="https://picsum.photos/seed/{{ post.ticket.id }}/600/400" alt="Couverture {{ post.title }}">
                        {% endif %}
                        <div>
                            <p>Ticket - {{ post.ticket.user }}</p>
                            <p>{{ post.ticket.title }}</p>
                            <div class="lien">
                                <a href="{% url 'reviews:review_modify' post.id %}">Modifier</a>
                                <a href="{% url 'reviews:review_delete' post.id %}">Supprimer</a>
                            </div>
                        </div>
                    </div>

            {% endif %}
        </div>
    {% empty %}
        <div class="no-posts">
            <p>Vous n'avez publié aucun ticket ou critique</p>
            <p>Commencez par 
                <a href="{% url 'reviews:ticket_create' %}">créer un ticket </a>ou 
                <a href="{% url 'reviews:review_create' %}">créer une critique</a> !</p>
        </div>
    {% endfor %}

{% endblock %}