{% extends 'base.html' %}
{% load static %}

{% if object %}Modifier la critique{% else %}Créer une critique{% endif %} - LITRevu

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/review.css' %}">
{% endblock %}

{% block content %}
    <h2>
        {% if ticket %}Modifier votre critique{% else %}Créer une critique{% endif %}
    </h2>
    {% if ticket %}
        <div>
            <h3>{{ ticket.title }}</h6>
            <small>{{ ticket.user.username }} a demandé une critique</small>
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.image }}" alt="Couverture">
            <div>{{ ticket.time_created }}</div>
        </div>

    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if not ticket %}
            <!-- Ticket Form -->
            <h3>Ticket</h3>
            {{ ticket_form.as_p }}
        {% endif%}    

        <!-- Review Form -->
        <h3>Critique</h3>
        {{ form.as_p }}

        <button type="submit">
            {% if ticket %}Modifier{% else %}Publier{% endif %}
        </button>
        <a href="{% if ticket %}{% url 'reviews:posts' %}{% else %}{% url 'reviews:feed' %}{% endif %}">Annuler</a>
    </form>
{% endblock %}
