{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITRevu{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body >

    <nav>
        <div class="menu">
            <a href="{% url 'reviews:feed' %}" class="logo"><h2>LITRevu</h2></a>
            {% if user.is_authenticated %}
            <div class="nav-links">
                <a href="{% url 'reviews:feed' %}">Flux</a>
                <a href="{% url 'reviews:posts' %}">Posts</a>
                <a href="{% url 'reviews:follow' %}">Abonnements</a>

                <form action="{% url 'authentication:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Déconnexion</button>
                </form>
            </div>
            {% endif %}
        </div>
    </nav>

    {% if messages %}
      {% for message in messages %}
        <div class="banner-message">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static '/js/base.js' %}"></script>
</body>
</html>